.container-fluid {
  @media (max-width: 720px) {
    display: none !important;
  }
  background-color: #000 !important;
  height: 100vh !important;
  color: linear-gradient(red, yellow) !important;
  .fundo-total {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    opacity: 0.95 !important;
  }
}

.brasileirinho {
  display:inline-block !important;
  background: -webkit-radial-gradient(blue 30%, yellow 40%, green 60%) !important; /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(blue 30%, yellow 40%, green 60%) !important; /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(blue 30%, yellow 40%, green 60%) !important; /* For Firefox 3.6 to 40 */
  background: radial-gradient(blue 30%, yellow 40%, green 60%) !important; /* Standard syntax (must be last) */
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.fundo-inglesso {
  color: #fff !important;
  padding: 2rem !important;
  margin-top: 10rem !important;
  width: 100% !important;
  height: 300px !important;
  border-radius: 4px !important;
  background-color: #000 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  .fundo {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 300px !important;
    opacity: 0.5 !important;
  }
  .codigo-de-bala {
    width: 200px !important;
  }
}

img {
  max-width: 100% !important;
}

.fundo-share {
  background-color: #000;
  color: #fff;
}
