<div class="container-fluid">
  <ngx-ui-loader></ngx-ui-loader>

  <img class="fundo-total" src="./../assets/major.jpeg" alt="">
  <div class="row" *ngIf="!mostrarNome">
    <div class="col-4"></div>
    <div class="col-4 mt-5 brasileirinho">
      <div class="item mt-5">
        <h1>Seja bem-vindo, adquila seu inglesso do major conosco!</h1>
      </div>
      <div class="form mt-4">
        <h4>Insila seu nome:</h4>
      </div>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4"></div>
    <div class="col-4">
      <div class="form-group">
        <input [(ngModel)]="nome" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Entle com seu nome">
      </div>
      <button type="button" [disabled]="!nomeValido()" (click)="gerarConvite()" class="btn btn-primary">Complar</button>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row" *ngIf="mostrarNome">
    <div class="col-4"></div>
    <div class="col-4 fundo-inglesso">
      <img class="fundo" src="../assets/fundo-inglesso.png" alt="fundo inglesso">
      <div class="row">
        <div class="col-8 mb-5">
          <h6>ESL ONE BLASIL MAJOR 2022 LIO DE JANEILO</h6>
          <h6 class="mt-2">Nome: {{ nome | uppercase }}</h6>
        </div>
        <div class="col-4">
          <img src="../assets/major.jpeg" alt="">
        </div>
        <div class="col-8 mt-4">
          <h6>CODIGO DE BALA</h6>
          <img class="codigo-de-bala" src="../assets/codigo-de-bala.png" alt="codigo de bala">
        </div>
        <div class="col-4 mt-5">
          <h6>SELO DE GALANTIA</h6>
          <img src="../assets/esl.png" alt="esl">
        </div>
      </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4 fundo-share">
      <h6>Compartilhe seu inglesso:</h6>
      <share-buttons theme="modern-dark" [include]="['facebook', 'twitter', 'whatsapp']" [showIcon]="true"
        [showText]="true" url="https://inglesso-major-6tw7l993h-jthales.vercel.app/" twitterAccount="thalesdeveloper">
      </share-buttons>
    </div>
    <div class="col-4"></div>
  </div>

</div>
